<!DOCTYPE html>
<html>
<head>
  <title>React Wiki</title>
  <link rel="stylesheet" type="text/css" href="/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class="container" id="app"></div>
  <script type="text/javascript">
    var USER = <%- user %>;
  </script>
  <script src="/all.js"></script>
</body>
</html>